# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
media/
static/
.env

# Virtualenv
venv/
ENV/
env/
.venv/
*.env

# Django migrations
migrations/

# Node_modules (para Electron)
node_modules/

# Electron - Build outputs
/dist/
/out/

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Python egg and distribution files
*.egg
*.egg-info
dist/
build/

# VS Code settings (si usas VS Code)
.vscode/

# Editor directories (si usas otro editor)
.idea/

# Otros archivos que podrías querer ignorar (si usas algún sistema de configuración, por ejemplo, env)
.envrc
